<div>
    <h2>Tb Pessoas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="tb-pessoa.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down" >
                        Create new Tb Pessoa
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Nome</span></th>
                    <th><span>Login</span></th>
                    <th><span>Senha</span></th>
                    <th><span>Telefone</span></th>
                    <th><span>Tipo</span></th>
                    <th><span>Instituicao</span></th>
                    <th><span>Contato</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tbPessoa in vm.tbPessoas track by tbPessoa.id">
                    <td><a ui-sref="tb-pessoa-detail({id:tbPessoa.id})">{{tbPessoa.id}}</a></td>
                    <td>{{tbPessoa.nome}}</td>
                    <td>{{tbPessoa.login}}</td>
                    <td>{{tbPessoa.senha}}</td>
                    <td>{{tbPessoa.telefone}}</td>
                    <td>{{tbPessoa.tipo}}</td>
                    <td>
                        <a ui-sref="tb-instituicao-detail({id:tbPessoa.instituicao.id})">{{tbPessoa.instituicao.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="tb-contato-detail({id:tbPessoa.contato.id})">{{tbPessoa.contato.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="tb-pessoa-detail({id:tbPessoa.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tb-pessoa.edit({id:tbPessoa.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tb-pessoa.delete({id:tbPessoa.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
